<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Section TypeName="Cellebrite.Diagnostics.BL.Integration.IntegrationConfiguration, Cellebrite.Diagnostics.BL">
		<Parameter Name="SagaInitiatorType">
			<Values>
				<Value Value="Cellebrite.Diagnostics.BL.Integration.NullSagaInitiator, Cellebrite.Diagnostics.BL"/>
				<Value Value="Cellebrite.Diagnostics.BL.Vodafone.VodafoneSagaInitiator, Cellebrite.Diagnostics.BL.Vodafone">
					<TextMatch Subject="CustomerID" Value="7" />
				</Value>
			</Values>
		</Parameter>
	</Section>
	<Section TypeName="Cellebrite.Diagnostics.BL.Vodafone.Universe.UniverseServiceConfiguration, Cellebrite.Diagnostics.BL.Vodafone">
		<Parameter Name="ErrorRetryCount">
			<Values>
				<Value Value="3" />
			</Values>
		</Parameter>
		<Parameter Name="Address">
			<Values>
				<Value Value="http://193.38.61.163/Vodafone/WebService/UniverseService.svc" />
			</Values>
		</Parameter>
	</Section>
	<Section TypeName="Cellebrite.Diagnostics.BL.Vodafone.UpdateBooking.SolutionRefusedMapper, Cellebrite.Diagnostics.BL.Vodafone">
		<Parameter Name="RefusedSolutions">
			<Values>
				<Value Value="OFFER_FACTORY_RESET:RefusedFactoryReset" />
				<Value Value="OFFER_REFLASH:RefusedFactoryReset" />
			</Values>
		</Parameter>
	</Section>
  <Section TypeName="Cellebrite.Diagnostics.BL.Integration.SummaryReportConfiguration, Cellebrite.Diagnostics.BL">
    <Parameter Name="SummaryReportSagaType">
      <Values>
        <Value Value="Cellebrite.Diagnostics.BL.SFR.SummaryReportSagaInitiator, Cellebrite.Diagnostics.BL.SFR">
          <TextMatch Subject="CustomerID" Value="5" />
        </Value>
      </Values>
    </Parameter>
  </Section>
  <Section TypeName="Cellebrite.Diagnostics.BL.SFR.SummaryReportEmailConfig,Cellebrite.Diagnostics.BL.SFR">
    <Parameter Name="Recipients">
      <Values>
        <Value Value="elin@cellebrite.com"/>
        <Value value="sfrdiagnostic@gmail.com">
          <TextMatch Subject="CustomerID" Value="5" />
          <TextMatch Subject="MachineName" Value="DIAG-QA-EAST"/>
        </Value>
        <Value value="eyalb@cellebrite.com">
          <TextMatch Subject="CustomerID" Value="5" />
          <TextMatch Subject="MachineName" Value="DIAG-QA2-EAST"/>
        </Value>
      </Values>
    </Parameter>
    <Parameter Name="Subject">
      <Values>
        <Value Value="Touch Serial {0} at {1}"/>
      </Values>
    </Parameter>
    <Parameter Name="Body">
      <Values>
        <Value Value="Madame, Monsieur,&lt;br/&gt;
Merci d'avoir réalisé votre diagnostic dans votre espace SFR.&lt;br/&gt;
Veuillez trouver ci-joint le rapport de traitement pour le dépannage de votre produit.&lt;br/&gt;
Cordialement&lt;br/&gt;
&lt;b&gt;L'équipe SAV SFR à votre service.&lt;b/&gt;"/>
      </Values>
    </Parameter>
  </Section>
</Configuration>